@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* shared styles here  */
.display-flex{
    display: flex;
}
.healthy-card1{
    background-color: rgba(79, 157, 166, 0.1);
}
.healthy-card2{
    background-color: rgba(255, 89, 89, 0.1);
}
.healthy-card3{
    background-color: #b67a0b6c ;
}
.btn-primary{
    background-color: #FF5959;
    padding:12px 16px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}
.btn-primary:hover{
    background-color: #97260d;
}
.section-title{
    font-size:2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.text-gray{
    color:#707070;
    font-size: 1rem;
    line-height: 28px;
}
.text-white{
    color:#FFFFFF;
    font-size:1.05rem;
    line-height:28px;
}

/* header-styles here  */

/* header banner related styles  */
#header{
    background-image: linear-gradient(0deg,rgb(18,18,18,100%),rgb(18,18,18,0%)),url(../images/donation2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 669px;
    justify-content: center;
    align-items: center;
}
.header-content{
    max-width:826px;
    text-align: center;
    margin: 175px 307px;
}
.header-content>.header-title{
    font-size: 4rem;
    font-weight: bold;
    color:#FFFFFF;
    margin-bottom: 20px;
    
}
.header-description{
    margin-bottom: 30px;
}
/* main styles here  */
.donate-today{
    max-width:691px;
    height: 130px;
    text-align: center;
    margin:0 auto;
    margin-top: 130px;
    
}

.donate-card{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 50px 250px;
    gap:15px;
    place-items: center;
    
}
.donate{
    width:135px;
    height:123px;
    background-color: #FAFAFA;
    align-items: center;
    justify-content: center;
    padding:30px 45px;
    border-radius: 5px;
    
}
.donate-amount{
    font-size: 1.9rem;
    color:#707070;
    
    
}
.donate-tk{
    color: #FF5959;
}


.bg-color{
    background-color: rgba(255, 89, 89, 10%);
    border: 2px solid rgba(255, 89, 89, 1);
}
/* add amount section here  */
.add-amount{
    text-align: center;
    margin:0 auto;
}
hr{
    margin: auto;
    max-width:765px;
    color:#DADADA;
}

.add-ammount-title{
    margin-bottom: 10px;
    font-size: 1.25rem;
}

.button{
    margin-top: 30px;
}
/* our donate section styles  */
.our-donate{
    max-width:691px;
    height: 130px;
    margin: 0 auto;
    text-align: center;
    margin-top: 130px;
}
.our-donate>h1{
    margin: 10px;
}

/* healthy card section styles here  */
.healthy-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:46px;
    margin: 50px 100px;
    place-items: center;
}
.healty-container{
    width:360px;
    height: 352px;
    border-radius: 5px;
}
.healthy-img>img{
    width:58px;
    height:49px;
    margin-top: 63px;
    margin-left: 22px;
}

.healty-title{
    font-size: 20px;
    font-weight: 600;
    margin-left: 22px;
    margin-top: 30px;
}
.healthy-descp{
    margin-left: 22px;
    margin-top: 16px;
}


/* media query responsive  */
@media screen and (max-width:576px) {
    .header-content{
        width: 100%;
        margin: 20px;
    }
    
    .donate-card,.healthy-card{
        grid-template-columns: repeat(1,1fr);
        margin: 20px;
    }
    .add-amount{
        margin: 10px;
    }
}
/* medium media query responsive  */
@media screen and (min-width:576px) and (max-width:992px) {
    .header-content{
        width: 100%;
        margin: 20px;
    }
    .donate-card{
        grid-template-columns: repeat(2,1fr);
        margin: 20px;
    }
    .healthy-card{
        grid-template-columns: repeat(1,1fr);
        margin: 20px;
    }
    .add-amount{
        margin: 20px;
    }
}